@use 'helpers' as *;

:root {
  --scrollbar-width: rem(0);
}

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
}

::placeholder {
  font-size: fluid(16, 14);
}

a {
  text-decoration: none;
  color: inherit;
}


ul,
li {
  list-style: none;
}

body {
  @include fluid-text(18, 14);
  margin: 0;
  padding: 0;

  letter-spacing: -0.03em;
  color: var(--color-dark-900);
  overflow-x: hidden;
}
svg {
  display: block;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.error {
  font-size: rem(14);
  font-weight: 400;
  line-height: rem(24);
  letter-spacing: 0;
  text-align: left;
  margin-top: rem(10);
  color: var(--color-danger-500);
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: rem(100);

  font-size: rem(24);
  font-weight: 700;
}

.mt0 {
  margin-top: 0;
}
