
:root {

  --color-accent: #6C63FF;
  --color-accent-dark: #534CC2;

  --color-light-100: #fff;
  --color-light-200: #ece7ff;
  --color-light-500: #aaa;
  --color-dark-900: #252525;


  --color-danger-300: #FF0000;
  --color-danger-500: #cc1439;

  --color-success-300: #00ff00;
  --color-success-500: #32CD32;

  --color-mid-300: #FFA500;
  --color-mid-500: #FF8C00;

}

