@if (todo(); as todo) {
  <div class="todo">
    <div class="todo__control">
      <app-button (click)="onEditTodoMode()" [variant]="'invisible'">
        <app-edit></app-edit>
      </app-button>
      <app-button [variant]="'invisible'">
        <app-trash></app-trash>
      </app-button>
    </div>
    <div class="todo__content">
      @if (isEditTodo()) {
        <div class="todo__edit-block">
          <app-todo-form
            [isEditMode]='true'
            [buttonTitle]="'Edit'"
            [formTitle]="'Edit todo'"
            [initialValue]="todo.title"
            (formSubmitted)="onEditTodo($event)"
          >
          </app-todo-form>
        </div>
      } @else {
        <app-checkbox [label]="todo.title"></app-checkbox>
      }

      <div class="todo__btn-group">
        <app-button
          (click)="onEditTodo({priority: 'low'})"
          [variant]="todo.priority === 'low' ? 'low' : 'transparent'"
        >Low
        </app-button>
        <app-button
          (click)="onEditTodo({priority: 'mid'})"
          [variant]="todo.priority === 'mid' ? 'mid' : 'transparent'"
        >Mid
        </app-button>
        <app-button
          (click)="onEditTodo({priority: 'high'})"
          [variant]="todo.priority === 'high' ? 'high' : 'transparent'"
        >High
        </app-button>
      </div>
    </div>
  </div>
}
