@if (todo(); as todo) {
  <div class="todo">
    <div class="todo__control">
      <app-edit></app-edit>
      <app-trash></app-trash>
    </div>
    <div class="todo__content">
      <app-checkbox [label]="todo.title"></app-checkbox>
      <div class="todo__btn-group">
        <app-button [variant]="todo.priority === 'low' ? 'low' : 'transparent'">Low</app-button>
        <app-button [variant]="todo.priority === 'mid' ? 'mid' : 'transparent'">Mid</app-button>
        <app-button [variant]="todo.priority === 'high' ? 'high' : 'transparent'">High</app-button>
      </div>
    </div>
  </div>
}
