@use '../../styles/helpers' as *;



.checkbox {
  display: flex;
  align-items: flex-start;
  gap: rem(8);
  cursor: pointer;
  user-select: none;
  outline: none;

  &__native {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;

    &:focus + .checkbox__box {
      outline: rem(2) solid var(--color-accent);
      outline-offset: rem(2);
    }

  }

  &__box {
    flex-shrink: 0;
    width: rem(18);
    height: rem(18);
    border: rem(2) solid var(--color-accent);
    border-radius: rem(4);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    &.checked {
      background-color: #6c63ff;
      position: relative;

      &::after {
        content: '✓';
        color: white;
        font-size: rem(14);
      }
    }
  }

  &__label-text {
    flex: 1;
    font-size: rem(16);
    color: var(--color-dark-900);
    transition: all 0.2s ease;
    word-break: break-word;

    &.crossed {
      text-decoration: line-through;
      color: var(--color-light-500);
    }
  }

}



