@use '../../styles/helpers' as *;

.alert {
  position: fixed;
  right: 10%;
  bottom: 10%;

  padding: rem(10);
  z-index: 1000;
  color: var(--color-light-100);
  border-radius: rem(10);
  &__content {
    display: flex;
    align-items: center;
    column-gap: rem(10);
  }
  &--success {
    background-color: var(--color-success-500);
  }

  &--error {
    background-color: var(--color-danger-500);
  }
}
