@use '../../styles/helpers' as *;

.textarea-container {
  display: flex;
  align-items: center;
  gap: rem(10);
  width: 100%;
  height: 100%;
  outline: rem(1) solid var(--color-accent);
  padding: 0 rem(10);
  border-radius: rem(5);
  border: rem(1) solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-light-100);
  &:focus-within {
    outline: rem(2) solid var(--color-accent);
  }
  &--error {
    border: rem(1) solid var(--color-danger-500);
  }
}

.textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  text-align: left;
  padding: rem(10) rem(10);
  color: var(--color-accent);
  resize: none;
  &::placeholder {
    color: var(--color-accent);
    opacity: 0.5;
  }
}
