
<div class="form-wrapper">
  <h3 class="form-wrapper__title">Add todo</h3>

  <form class="form" [formGroup]="cartForm" (ngSubmit)="onSubmit()">
    <div class="form__inputs">

      <app-text-field
        [control]="cartForm.controls.title"
        [id]="'title'"
        [placeholder]="'Name'"
        [isError]="isTitleInvalid()"
      >
      </app-text-field>

      @if (isTitleInvalid()) {
        <div
          class="error"
        >
          @if (title?.errors?.['required']) {
            <div>Title is required</div>
          }
          @if (title?.errors?.['minlength']) {
            <div>The title must not be less than 3 characters.</div>
          }
          @if (title?.errors?.['maxlength']) {
            <div>The Name must not be more than 30 characters.</div>
          }
        </div>
      }
    </div>
    <app-button variant="main">
      Submit
    </app-button>
  </form>

</div>
