
<div class="form-wrapper">
  <form class="form" [formGroup]="cartForm" (ngSubmit)="onSubmit()">
    <div class="form__inputs">

      <app-input
        [control]="cartForm.controls.name"
        [id]="'name'"
        [placeholder]="'Name'"
        [isError]="isNameInvalid()"
      >
      </app-input>

      @if (isNameInvalid()) {
        <div
          class="error"
        >
          @if (name?.errors?.['required']) {
            <div>Name is required</div>
          }
          @if (name?.errors?.['minlength']) {
            <div>The Name must not be less than 3 characters.</div>
          }
          @if (name?.errors?.['maxlength']) {
            <div>The Name must not be more than 8 characters.</div>
          }
        </div>
      }
    </div>
  </form>

</div>
