<main>
  <div class="app">
    @if (todoEditLoading()) {
      <app-app-loader></app-app-loader>
    }
    <div class="container">
      <div class="app__inner">
        <h1 class="app__title">TODO LIST</h1>
        <app-control
          (searchTerm)="onSearchTitle($event)"
          (finishedSelect)="onSetFinishedValue($event)"
          (prioritySelect)="onSetPriorityValue($event)"
        ></app-control>
        @if (filteredTodos();as todos) {
          <app-todo-list
            (editTodoFromList)="onEditTodo($event)"
            (deleteTodoFromList)="deleteTodo($event)"
            [todosLoading]="allTodosLoading()"
            [todos]="todos"
          ></app-todo-list
          >
        }
      </div>
      <app-button (click)="openModal(addTodo)" variant="round">
        <app-plus></app-plus>
      </app-button>
    </div>
  </div>
</main>

<ng-template #addTodo>
  <app-todo-form
    [formTitle]="'Add todo'"
    [isLoading]="todoLoading()"
    (formSubmitted)="onAddTodo($event)"
  >
  </app-todo-form>
</ng-template>

<app-modal></app-modal>

<app-alert></app-alert>
