<main>
  <div class="app">
    <div class="container">
      <div class="app__inner">
        <h1 class="app__title">TODO LIST</h1>
        <app-control></app-control>
        @if (todos();as todos) {
          <app-todo-list [todosLoading]="allTodosLoading()" [todos]="todos"></app-todo-list>
        }
      </div>

      <app-button (click)="openModal(addTodo)" variant="round">
        <app-plus></app-plus>
      </app-button>
    </div>
  </div>
</main>

<ng-template #addTodo>
  <app-add-todo-form [isLoading]="todoLoading()" (formSubmitted)="onAddTodo($event)"></app-add-todo-form>
</ng-template>

<app-modal></app-modal>

<app-alert></app-alert>
