@use '../../styles/helpers' as *;

.control {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;

  &__inner {
    width: rem(700);
    align-self: center;
    display: flex;
    column-gap: rem(10);
    align-items: center;

    @include mobile {
      flex-direction: column-reverse;
      align-items: start;
      gap: rem(15);
    }
  }

  &__select-block {
    display: flex;
    align-items: center;
    gap: rem(10);

    color: var(--color-dark);
    font-size: rem(16);
  }

  app-text-field {
    flex: 1;
  }
}
